<div class="sms-header">
    <div style="float:left;" class="sms-name" >
        <img class="images" src="assets/images/Logo.ico" alt="sms-logo" style="width: 35px;">
        <div>PLAB DASHBOARD</div>
    </div>
    <div>
        <div class="profile" style="float:right;">
            <img class="images" src="assets/images/captain-america.jpeg" alt="captain-america">
            <div class="dropdown-content">
                <a (click)="onProfileClick()">Profile</a>
                <a>Sign Out</a>
            </div>
        </div>
    </div>
</div>