/* DashboardComponent's private CSS styles */
[class*='col-'] {
    float: left;
    // padding-right: 20px;
    // padding-bottom: 20px;
  }


  .loader {
    justify-content: center;
    // padding: 200px 200px;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    // border: 16px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  .grid {
    margin: 0;
    
  }
  .col-1-4 {
    // background-color: #c50e0e;
    background-image: linear-gradient(rgba(18, 77, 238, 0.589), rgba(255, 255, 255, 0.774));
    padding: 18px 18px 18px 18px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px indigo;
  }

  .col-1-4:hover {
    box-shadow: 2px 2px 2px 2px indigo;
  }

  .row {
    width: 220px;
  }

  #refresh {
    transition: all .2s ease-in-out;
  }
  #refresh:hover {
    // transform: scale(1.55); 
    transform: scale(1.1);
  } 

  .serverStatus {
    display: block;
    justify-content: center;
    border: 1px solid rgb(229, 232, 236);
    border-radius: 4px;
    margin: 0px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  .module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #3f525c;
    border-radius: 2px;
  }
  .module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch {
    position: relative;
    display: inline-flex;
    margin: 10px;
    width: 30px;
    height: 17px;
    justify-content: space-evenly;;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(226, 24, 24, 0.815);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #09ee01;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }
.app {
    border: 1px solid rgb(229, 232, 236);
    
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .app-info {
        width: 220px;
        >div:nth-child(1) {
            font-size: 15px;
            font-weight: bold;
            width: 100%;
            justify-content: center;
            color: black;
        }
        >div:nth-child(2) {
            font-size: 10px;
            >span {
                margin-right: 15px;
                color: black;
            }
        }
    }
    .app-status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-top: 10px;
    }
    .on {
        background-color: green;
    }
    .off {
        background-color: red;
    }
}

.col-md-4{
  padding-right: 0px;
  padding-left: 0px;
}