.playerNameClass {
    background-color: greenyellow;
}

.comparision {
    border: 1px solid rgb(229, 232, 236);
    border-radius: 4px;
    margin: 0px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}